
**__pycache__/
.vscode

# Exclude everything in dataset but 3 files.
/dataset/*
!**.gitignore
!**README.md
!/dataset/sample.dicom
!/dataset/download_dataset.sh
!/dataset/preprocess_data.py

Tensorflow/workspace/training-demo/*
!Tensorflow/workspace/training-demo/annotations/*
!Tensorflow/workspace/training-demo/model_main_tf2.py
**tmp/

**.record
./**.csv

**.pth

!./submission.csv